* {
  font-family: sans-serif;
}
body {
  background-color: #434343;
}
.cont {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: auto;
  #user-input {
    padding: 10px;
    margin: 5px;
  }
  #check-btn {
    padding: 10px;
    background-color: rgb(244, 244, 96);
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px;
    outline: none;
    border-color: transparent;
    margin: 5px;
  }
  #clear-btn {
    padding: 10px;
    background-color: rgb(84, 177, 231);
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px;
    outline: none;
    border-color: transparent;
    margin: 5px;
  }
  #results-div {
    font-size: 30px;
    text-align: center;
    color: white;
    margin: 5px;
    border-radius: 10px;
    .gre {
      color: rgb(59, 253, 59);
    }
    .red {
      color: rgb(250, 64, 64);
    }
  }
}
